.auth-btn {
  border: 0;
  border-radius: 0;
  padding: 10px 30px;
  background: #000;
  color: #fff;
  font-size: 13px;
  font-weight: lighter;
  cursor: pointer;
}

.auth-input {
  width: 100%;
  border-radius: 0;
  height: 38px;
  background: #fff;
}

.auth-input::placeholder {
  font-size: 12px;
  font-weight: lighter;
  padding-left: 0px;
}

.auth-input:focus {
  border-color: unset;
  border: 0;
  box-shadow: unset;
}

.auth-input:active {
  border-color: unset;
  border: 0;
  box-shadow: unset;
  font-size: 12px;
  font-weight: lighter;
}

.small-text {
  font-size: 11px;
  color: #fff;
  font-weight: lighter;
}

.auth-header-text {
  font-size: 18px;
  font-weight: bolder;
  color: #fff;
}


.auth-sub-text {
  font-size: 12px;
  color: #fff;
}

.reg-pad-con {
  padding: 150px 0px;
}

.register {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../img/auth/busy-computer-developer.jpg');
  background-size: cover;
  background-position: left;
}